{% block main %}
<div class="container col-md-8" style="padding: 50px;">
<h1>Circuit {{circuit.id}}</h1>


<h2>Etapes du circuit</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Ville</th>
            <th>Nombre de jours</th>
        </tr>
    </thead>

    {%  for etape in circuit.etapes %}
        <tr>
            <td>{{ etape.villeEtape }}</td>
            <td>{{ etape.nombreJours }}</td>
        </tr>
        {% endfor %} {# etapes #}
</table>
</div>
{% endblock %}