{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	{% for circuit in circuits %}

		<h3>{{ circuit.description }}</h3>
		<p>
		{{ circuit.paysDepart }}
		:
		{{ circuit.dureeCircuit ? circuit.dureeCircuit: '' }}
		jours depuis
		{{ circuit.villeDepart }}
		jusqu'à
		{{ circuit.villeArrivee}}
		</p>

    {% endfor %}
</div>
{% endblock %}
