{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
    <h1>Circuit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>PaysDepart</th>
                <th>VilleDepart</th>
                <th>VilleArrivee</th>
                <th>DureeCircuit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
                <td>
                    <a href="{{ path('admin_circuit_show', {'id': circuit.id}) }}">show</a>
                    <a href="{{ path('admin_circuit_edit', {'id': circuit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_circuit_new') }}">Create new</a>
{% endblock %}
